@{
    Page.Title = "员工信息管理";
    Layout = "~/_LayoutMain.cshtml";
}

@section Style
{
    <style type="text/css">
    </style>
}

@section js
{
    <script type="text/javascript">
        function ToDelete(eid, ename) {
            $("#eid").val(eid);
            $("#spDel").html(eid + "-" + ename);
            $("#delDialog").modal({ "show": true });
        }

        $(function () {
            $("#btnDel").click(function () {
                //document.forms[0].submit();
                $("#delForm").submit();
            });
        });
    </script>
}

<div id="delDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <div class="modal-title text-info">删除员工</div>
            </div>
            <div class="modal-body text-danger">
                是否删除<span id="spDel"></span>？
            </div>
            <div class="modal-footer">
                <button id="btnDel" class="btn btn-primary">
                    确定
                </button>
                <button class="btn btn-primary" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

<form action="`/Employee/Delete" method="post" id="delForm">
    <input type="hidden" name="Employee.Eid" id="eid" />
</form>

<form action="~/Employee/Add" method="post">
    <div class="row">
        <div class="col-sm-4 col-xs-hidden"></div>
        <div class="col-sm-4 col-xs-12">
            <h1 class="text-center">员工信息管理</h1>
            <div class="form-group">
                <input type="text" name="Employee.Ename" class="form-control" placeholder="员工姓名..." />
            </div>
            <div class="form-group">
                <label>性别：</label>
                <label class="radio-inline">
                    <input type="radio" name="Employee.Sex" value="m" checked="checked" />男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Employee.Sex" value="f" />女
                </label>
            </div>
            <div class="form-group">
                <input type="text" name="Employee.Salary" class="form-control" placeholder="员工工资..." />
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-addon">
                        部门：
                    </label>
                    <select name="Employee.DeptId" class="form-control">
                        @foreach (var dept in Model.DeptList)
                        {
                            <option value="@dept.DeptId">
                                @dept.DeptName
                            </option>
                        }
                    </select>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="添加员工" class="btn btn-info" />
                <input type="reset" value="重填" class="btn btn-info" />
                <a href="~/Employee/" class="btn btn-info">刷新信息</a>
                <a href="~/Employee/List" class="btn btn-info">查询员工</a>
            </div>
            <div class="text-center text-danger">
                @Model.Message
            </div>
        </div>
        <div class="col-sm-4 col-xs-hidden"></div>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>编号</th>
            <th>部门</th>
            <th>姓名</th>
            <th>性别</th>
            <th>工资</th>
            <th>入职日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.EmployeeList)
        {
            <tr>
                <td>@emp.Eid</td>
                <td>@emp.DeptId</td>
                <td>@emp.Ename</td>
                <td>@emp.Sex</td>
                <td>@emp.Salary</td>
                <td>@String.Format("{0:yyyy-MM-dd HH:mm:ss}", emp.Indate)</td>
                <td>
                    <a href="javascript:void(0);" onclick="ToDelete(@emp.Eid,'@emp.Ename')">删除</a>
                    <a href="~/Employee/ToModify?Employee.Eid=@emp.Eid">修改</a>
                </td>
            </tr>
        }
    </tbody>
</table>
